@page
@model TextStory.Pages.Message.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].PauseMins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].PauseSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].StoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PauseMins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PauseSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
